<!doctype xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html lang="en">
<head>
    <!-- Configuration -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="Royllo">

    <!-- Social network sharing -->
    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description" content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content="image.png">

    <!-- Favicons -->
    <link rel="icon" href="/images/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">

</head>

<body>

<section layout:fragment="content">
    <p>Page content goes here</p>
</section>

</body>

</html>