<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <div class="w-2/5">

        <sl-alert open variant="danger">
            <sl-icon name="exclamation-octagon" slot="icon"></sl-icon>
            <strong th:text="#{generic.error}"></strong><br/>
            <div th:text="#{generic.error.404}"></div>
        </sl-alert>

    </div>

</div>
<!-- =============================================================================================================== -->

</html>