<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* ======================================================================================================= */-->
    <!--/* Error management */-->
    <div class="pt-12 w-2/3 mx-auto">

        <!--/* No value for the "requestId" parameter */-->
        <div th:if="${#strings.isEmpty(requestId)}"
             th:insert="~{util/fragments/components/error_message :: error_message(#{request.view.error.noRequestId})}">
        </div>

        <!--/* We have the "requestId" parameter but the request was not found */-->
        <div th:if="${!#strings.isEmpty(requestId) && result == null}"
             th:insert="~{util/fragments/components/error_message :: error_message(#{request.view.error.requestNotFound(${requestId})})}">
        </div>

    </div>

    <!--/* ======================================================================================================= */-->
    <!--/* Display request */-->
    <div class="pt-12 w-4/5 mx-auto" th:if="${result != null}">

        <div class="head">

            <!--*/ Request ID */-->
            <div class="overflow-hidden shadow sm:rounded-lg">
                <div class="px-4 py-6 sm:px-6">
                    <h3 class="tableHeadTitle" th:text="'Request ' + ${result.requestId}"></h3>
                </div>
                <div class="border-t border-gray-100">
                    <dl class="divide-y divide-gray-100">

                        <!--/* Request ID */-->
                        <div class="tableLine">
                            <dt class="tableLineDescription" th:text="#{field.asset.requestId}"></dt>
                            <dd class="tableLineValue" th:text="${result.requestId}"></dd>
                        </div>
                        <!--/* Creator */-->
                        <div class="tableLine">
                            <dt class="tableLineDescription" th:text="#{field.asset.creator.username}"></dt>
                            <dd class="tableLineValue" th:text="${result.creator.username}"></dd>
                        </div>
                        <!--/* Request status */-->
                        <div class="tableLine">
                            <dt class="tableLineDescription" th:text="#{field.asset.status}"></dt>
                            <dd class="tableLineValue" th:if="${#strings.equals(result.status, 'OPENED')}"
                                th:text="#{status.opened}"></dd>
                            <dd class="tableLineValue" th:if="${#strings.equals(result.status, 'FAILURE')}"
                                th:text="#{status.failure}"></dd>
                            <dd class="tableLineValue" th:if="${#strings.equals(result.status, 'RECOVERABLE_FAILURE')}"
                                th:text="#{status.recoverableFailure}"></dd>
                            <dd class="tableLineValue" th:if="${#strings.equals(result.status, 'SUCCESS')}"
                                th:text="#{status.success}"></dd>
                        </div>
                        <!--/*  Error message (if failure) */-->
                        <div class="tableLine" th:if="${#strings.equals(result.status, 'FAILURE')}">
                            <dt class="tableLineDescription" th:text="#{field.asset.errorMessage}"></dt>
                            <dd class="tableLineValue" th:text="${result.errorMessage}"></dd>
                        </div>
                    </dl>
                </div>
            </div>

        </div>

        <!--/* View asset */-->
        <div class="my-12" th:if="${#strings.equals(result.status, 'SUCCESS')}">
            <a class="defaultButton"
               th:href="@{'/asset/' + ${result.asset.assetId}}"
               th:text="#{request.button.asset.view}"></a>
        </div>

    </div>

</div>
<!-- =============================================================================================================== -->

</html>