<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<!--/* Head */-->
<head th:replace="util/fragments/layouts/default_head">
    <title th:text="#{head.title}"></title>
</head>
<!--/* =========================================================================================================== */-->

<!--/* =========================================================================================================== */-->
<!--/* Body */-->
<body>

<!--/* Page */-->
<!--/*
    flex            :   Utilities for controlling how flex items both grow and shrink.
    flex-col        :   Use flex-col to position flex items vertically.
    h-screen        :   Use h-screen to make an element span the entire height of the viewport.
    justify-between :   Use justify-between to justify items along the container’s main axis such that there is an equal amount of space between each item
*/-->
<div class="bg-white flex flex-col h-screen justify-between">

    <header th:replace="util/fragments/layouts/default_header"></header>

    <!--/* Content */-->
    <!--/*
        flex            :   Utilities for controlling how flex items both grow and shrink.
        flex-col        :   Use flex-col to position flex items vertically.
        h-screen        :   Use h-screen to make an element span the entire height of the viewport.
        items-center    :   Use items-center to align items along the center of the container’s cross axis.
    */-->
    <section class="flex flex-col h-screen items-center"
             layout:fragment="content">
    </section>

    <footer th:replace="util/fragments/layouts/default_footer"></footer>

</div>

</body>
<!--/* =========================================================================================================== */-->

</html>