<header class="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">

    <!--/* ======================================================================================================= */-->
    <!--/* Left side Logo (Use flex-1 to allow a flex item to grow and shrink as needed, ignoring its size) */-->
    <div class="flex-1">
        <a th:href="@{/}">
            <img alt="Royllo Logo"
                 height="52"
                 th:src="@{/images/logo/royllo_logo_horizontal_with_title.png}"
                 width="171"/>
        </a>
    </div>
    <!--/* ======================================================================================================= */-->

    <!--/* ======================================================================================================= */-->
    <!--/* Right side without being authenticated, we have two buttons (one on mobile) */-->
    <div class="flex items-center gap-1" sec:authorize="!isAuthenticated()">
        <!--/* Login button. */-->
        <a th:href="@{/login}">
            <button class="btn btn-primary" th:text="#{user.login}"></button>
        </a>
        <!--/* Add data button. */-->
        <details class="dropdown dropdown-end hidden md:block">
            <summary class="m-1 btn btn-secondary" th:text="#{request.view.addData}"></summary>
            <ul class="dropdown-content z-[1] menu p-2 shadow bg-blue-100 rounded-box w-52">
                <!--/* Add proof. */-->
                <li>
                    <a th:href="@{/request/proof/add}"
                       th:text="#{request.view.proof.add}">
                    </a>
                </li>
                <!--/* Add universe server. */-->
                <li>
                    <a th:href="@{/request/universe_server/add}"
                       th:text="#{request.view.universeServer.add}">
                    </a>
                </li>
            </ul>
        </details>
    </div>
    <!--/* ======================================================================================================= */-->

    <!--/* ======================================================================================================= */-->
    <!--/* Right side while being authenticated, we only one button */-->
    <div class="flex items-center gap-1" sec:authorize="isAuthenticated()">
        <!-- Dropdown menu -->
        <div class="dropdown dropdown-bottom dropdown-end">
            <div tabindex="0" role="button" class="btn btn-secondary m-1" th:text="#{user.account}"></div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-blue-100 rounded-box w-52">
                <!--/* User. */-->
                <h2 class="menu-title truncate" th:utext="#{user.signed.as(${session.shortUsername})}"></h2>

                <!--/* Add requests. */-->
                <li>
                    <a th:href="@{/request/proof/add}"
                       th:text="#{request.view.proof.add}">
                    </a>
                </li>
                <li>
                    <a th:href="@{/request/universe_server/add}"
                       th:text="#{request.view.universeServer.add}">
                    </a>
                </li>
                <li>
                    <a th:href="@{/account/request/claim_asset_ownership/add}"
                       th:text="#{request.view.claimAssetOwnership.add  }">
                    </a>
                </li>

                <!--/* User assets. */-->
                <li>
                    <a th:href="@{/account/assets}"
                       th:text="#{user.assets}">
                    </a>
                </li>

                <!--/* User settings. */-->
                <li>
                    <a th:href="@{/account/settings}"
                       th:text="#{user.settings}">
                    </a>
                </li>

                <!--/* Logout. */-->
                <li>
                    <a th:href="@{/logout}"
                       th:text="#{user.logout}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--/* ======================================================================================================= */-->

</header>