<!DOCTYPE html>
<html data-theme="winter"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<!--/* =========================================================================================================== */-->
<!--/* Head */-->
<head th:replace="~{util/fragments/layouts/default/head :: head}">
    <title th:text="#{head.title}"></title>
</head>
<!--/* =========================================================================================================== */-->

<!--/* =========================================================================================================== */-->
<!--/* Body */-->
<body>

<!--/* Analytics */-->
<th:block th:if="${!#strings.isEmpty(piwikAnalyticsTrackingId)}">
    <script th:replace="~{util/fragments/components/analytics_piwik :: script}"></script>
</th:block>

<!--/* Header */-->
<header th:replace="~{util/fragments/layouts/default/header :: header}"></header>

<!--/* Content */-->
<!--/*
    flex            :   Utilities for controlling how flex items both grow and shrink.
    flex-col        :   Use flex-col to position flex items vertically.
*/-->
<main class="flex flex-col"
      id="content"
      layout:fragment="content">
</main>

<!--/* Margin before footer */-->
<div class="my-16">&nbsp</div>

<!--/* Footer */-->
<footer th:replace="~{util/fragments/layouts/default/footer :: footer}"></footer>

</body>
<!--/* =========================================================================================================== */-->

</html>