<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* ======================================================================================================= */-->
    <!--/* Display form */-->
    <div class="overflow-hidden bg-white sm:rounded-lg mx-11 w-4/5">
        <form method="post" th:action="@{/request/proof/add}" th:object="${command}">

            <!--/* Raw proof field */-->
            <sl-textarea name="rawProof"
                         onClick="this.select();"
                         onFocus="this.select();"
                         required
                         rows="25"
                         th:field="*{rawProof}"
                         th:placeholder="#{request.proof.rawProof.helper}">
            </sl-textarea>
            <p class="mt-2 text-sm text-red-600 dark:text-red-500" th:errors="*{rawProof}"
               th:if="${#fields.hasErrors('rawProof')}"></p>
            <br/>

            <!--/* Explain how to retrieve a raw proof ? */-->
            <sl-details th:summary="#{request.proof.explanation.title}">
                <code th:utext="#{request.proof.explanation.code}"></code>
            </sl-details>
            <br/>

            <!--/* Submit button */-->
            <sl-button th:text="#{request.proof.submit}" type="submit">Button</sl-button>

        </form>
    </div>
    <!--/* ======================================================================================================= */-->

</div>
<!--/* =========================================================================================================== */-->

</html>