<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* Success message */-->
    <sl-alert open variant="success">
        <sl-icon name="check2-circle" slot="icon"></sl-icon>
        <strong th:text="#{request.createdSuccessfully(${result.getRequestId()})}"></strong><br/>
        <span th:utext="#{request.creationMessage}"></span>
    </sl-alert>
    <br/>

    <!--/* View request status */-->
    <sl-button th:href="@{'/request/' + ${result.getRequestId()}}"
               th:text="#{request.viewStatus}"></sl-button>

</div>
<!--/* =========================================================================================================== */-->

</html>