<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* ======================================================================================================= */-->
    <!--/* Display form */-->
    <div class="pt-12 w-4/5 mx-auto">
        <form method="post" th:action="@{/request/proof/add}" th:object="${command}">

            <!--/* Raw proof field */-->
            <textarea
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    name="rawProof"
                    onClick="this.select();"
                    onFocus="this.select();"
                    required
                    rows="25"
                    th:field="*{rawProof}"
                    th:placeholder="#{request.proof.rawProof.helper}">
            </textarea>
            <p class="mt-2 text-sm text-red-600 dark:text-red-500" th:errors="*{rawProof}"
               th:if="${#fields.hasErrors('rawProof')}"></p>
            <br/>
            <button class="defaultButton"
                    th:text="#{request.proof.submit}"
                    type="submit"></button>
            <br/>
            <br/>

            <!--/* Explain how to retrieve a raw proof ? */-->
            <div th:text="#{request.proof.explanation.title}"></div>
            <code th:utext="#{request.proof.explanation.code}"></code>

            <!--/* TODO, this should not be needed! */-->
            <div class="my-12">&nbsp;</div>
        </form>
    </div>

</div>
<!--/* =========================================================================================================== */-->

</html>