<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* This div is used to add a margin between the header and the content. */-->
    <div class="px-6 py-12 sm:py-16 lg:px-8">

        <!--/* This div is used to center the content. */-->
        <div class="mx-auto max-w-2xl text-center space-y-3">

            <!--/* Page header. */-->
            <h2 class="pageHeader" th:text="#{account.settings.title}"></h2>
            <p class="pageHeaderSubtitle" th:text="#{account.settings.explanation}"></p>
            <hr>

            <!--/* =============================================================================================== */-->
            <!--/* Account information. */-->
            <div class="flex items-center">
                <!--/* Icon */-->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg>
                <!--/* Title */-->
                <h3 class="text-lg font-semibold" th:text="#{account.settings.information.title}"></h3>
            </div>
            <p class="text-left" th:text="#{account.settings.information.explanation}"></p>

            <!--/* Account settings form */-->
            <form action="#" th:action="@{/account/settings}" th:object="${command}" method="post">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text" th:text="#{account.settings.information.name.label}"></span>
                    </div>
                    <input type="text" class="input input-bordered w-full" autofocus th:field="*{fullName}"/>
                </label>

                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text" th:text="#{account.settings.information.biography.label}"></span>
                    </div>
                    <textarea class="textarea textarea-bordered textarea-md" th:field="*{biography}"></textarea>
                </label>

                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text" th:text="#{account.settings.information.website.label}"></span>
                    </div>
                    <input type="text" class="input input-bordered w-full" th:field="*{website}"/>
                </label>

                <button class="btn btn-primary" th:text="#{account.settings.information.updateButton}"
                        type="submit"></button>
            </form>
            <!--/* =============================================================================================== */-->

        </div>

    </div>

</div>
<!--/* =========================================================================================================== */-->

</html>