<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default_layout}">

<!-- =============================================================================================================== -->
<section layout:fragment="content">
        Plus simple !
        This is my content
        <p th:text="#{home.welcome}"/>
</section>
<!-- =============================================================================================================== -->
