<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* This div is used to add a margin between the header and the content. */-->
    <div class="px-6 py-12 sm:py-16 lg:px-8">

        <!--/* This div is used to center the content. */-->
        <div class="mx-auto max-w-2xl text-center space-y-3">

            <!--/* Page header. */-->
            <div class="flex flex-row space-x-3">

                <div class="avatar" th:if="${user.profilePictureFilename} != null">
                    <div class="w-24 rounded-xl">
                        <img th:src="${contentBaseUrl} + '/' + ${user.profilePictureFilename}"/>
                    </div>
                </div>

                <div>
                    <h2 class="pageHeader" th:text="${user.username}" th:if="${#strings.isEmpty(user.fullName)}"></h2>
                    <h2 class="pageHeader" th:text="${user.fullName}" th:if="${!#strings.isEmpty(user.fullName)}"></h2>
                    <p><a th:href="${user.website}" th:text="${user.website}" th:target="${user.username}"
                          class="link"></a>
                    </p>
                </div>

            </div>
            <p class="pageHeaderSubtitle" th:text="${user.biography}" th:if="${user.biography != null}"></p>
            <hr>

            <!--/* Assets list. */-->
            <!--/* Results, if present */-->
            <div th:if="${result != null && !result.getContent().isEmpty()}">

                <!--/* =============================================================================================== */-->
                <div class="alert shadow-lg mb-5 mt-5" role="alert" th:each="asset: ${result.content}">

                    <!--/* =========================================================================================== */-->
                    <!--/* Icon */-->

                    <!--/* If we have an image type, we display it */-->
                    <img class="h-12 w-12 flex-none bg-gray-50"
                         th:alt="${asset.name}"
                         th:if="${#strings.equalsIgnoreCase(asset.MetaDataFileType, 'IMAGE')}"
                         th:src="${contentBaseUrl} + '/' + ${asset.MetaDataFileName}"/>

                    <!--/* If we don't have an image for the asset, we use "unknown icon" */-->
                    <img class="h-12 w-12 flex-none bg-gray-50"
                         th:alt="${asset.name}"
                         th:if="${!#strings.equalsIgnoreCase(asset.MetaDataFileType, 'IMAGE') && #strings.equalsIgnoreCase(asset.type, 'NORMAL')}"
                         th:src="@{/svg/type_normal_asset.svg}"/>

                    <img class="h-12 w-12 flex-none bg-gray-50"
                         th:alt="${asset.name}"
                         th:if="${!#strings.equalsIgnoreCase(asset.MetaDataFileType, 'IMAGE') && #strings.equalsIgnoreCase(asset.type, 'COLLECTIBLE')}"
                         th:src="@{/svg/type_collectible_asset.svg}"/>

                    <!--/* =========================================================================================== */-->

                    <!--/* =========================================================================================== */-->
                    <!--/* Text */-->
                    <div>
                        <h3 class="font-bold">
                            <a th:href="@{'/account/asset/' + ${asset.assetId} + '/edit'}">
                                <span th:text="${asset.name}"></span>
                            </a>
                        </h3>
                        <div class="text-xs">
                            <span class="hidden lg:block"
                                  th:text="#{asset.data.assetId} + ': ' + ${asset.assetId}">
                            </span>
                            <span th:text="#{asset.data.assetIdAlias} + ': ' + ${asset.assetIdAlias}">
                            </span>
                            <span class="hidden lg:block"
                                  th:if="${asset.assetGroup != null}"
                                  th:text="#{asset.data.tweakedGroupKey} + ': ' + ${asset.assetGroup.tweakedGroupKey}">
                            </span>
                            <span class="block"
                                  th:if="${#strings.equalsIgnoreCase(asset.type, 'NORMAL')}"
                                  th:text="#{asset.data.amount} + ': ' + ${asset.amount}">
                            </span>
                        </div>
                    </div>
                    <!--/* =========================================================================================== */-->

                </div>

                <!--/* Pagination */-->
                <div th:insert="~{util/fragments/components/pagination_without_htmx :: pagination(@{'/user/' + ${user.username}},
                                                                                    ${page},
                                                                                    ${result.getTotalPages()})}">
                </div>

        </div>

    </div>

</div>
<!--/* =========================================================================================================== */-->

</html>