<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/asset/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content" th:fragment="asset-group-fragment">

    <!--/* Where we are */-->
    <div class="text breadcrumbs">
        <ul>
            <li>&nbsp;</li>
            <li th:text="#{asset.view.tabs.group}"></li>
        </ul>
    </div>

    <!--/* If there are no asset group, just say it */-->
    <div class="overflow-x-auto" th:if="${asset.assetGroup} == null">
        <table class="table table-zebra table-fixed">
            <!--/* Header */-->
            <thead class=" w-full">
            <tr>
                <th class="font-bold text-ellipsis overflow-hidden"
                    th:text="#{asset.view.tabs.group.noAssetGroup}"></th>
            </tr>
            </thead>
        </table>
    </div>

    <!--/* Display asset group and linked assets */-->
    <div class="overflow-x-auto" th:if="${asset.assetGroup} != null">
        <table class="table table-zebra table-fixed">
            <!--/* Header */-->
            <thead class=" w-full">
            <tr>
                <th class="text-xl font-bold text-ellipsis overflow-hidden"
                    th:text="#{asset.data.tweakedGroupKey} + ': ' + ${asset.assetGroup.tweakedGroupKey}"></th>
            </tr>
            </thead>
            <tbody>
            <!--/* Assets in the same asset group */-->
            <tr th:each="assetInGroup: ${assetsInGroupList.content}">
                <td>
                    <a class="font-bold"
                       th:href="@{'/asset/' + ${assetInGroup.assetId}}"
                       th:text="${assetInGroup.name}"></a>
                    <div class="text-ellipsis overflow-hidden" th:text="${assetInGroup.assetId}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!--/* =========================================================================================================== */-->

</html>