<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/asset/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content" th:fragment="asset-owner-fragment" th:if="${asset} != null">

    <!--/* Where we are */-->
    <div class="text breadcrumbs">
        <ul>
            <li>&nbsp;</li>
            <li th:text="#{asset.view.tabs.owner}"></li>
        </ul>
    </div>

    <!--/* If there are no asset owner, just say it */-->
    <div class="overflow-x-auto">
        <table class="table table-fixed">
            <tbody>
            <tr>
                <td>
                    <div class="font-bold" th:text="#{asset.data.creator.userId}"></div>
                    <div class="text-ellipsis overflow-hidden" th:text="${asset.creator.userId}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="font-bold" th:text="#{asset.data.creator.username}"></div>
                    <div class="text-ellipsis overflow-hidden" th:text="${asset.creator.username}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="font-light italic" th:text="#{asset.view.tabs.owner.explanation}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!--/* =========================================================================================================== */-->

</html>