<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/asset/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content" th:fragment="asset-owner-fragment" th:if="${asset} != null">

    <div class="overflow-x-auto">
        <table class="table table-fixed">
            <tbody>
            <tr>
                <td>
                    <div class="font-bold" th:text="#{asset.data.creator.userId}"></div>
                    <div class="text-ellipsis overflow-hidden" th:text="${asset.creator.userId}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="font-bold" th:text="#{asset.data.creator.username}"></div>
                    <div class="text-ellipsis overflow-hidden">
                        <a th:href="@{'/user/' + ${asset.creator.username}}" th:text="${asset.creator.username}"></a>
                    </div>
                </td>
            </tr>
            <tr th:if="${!#strings.isEmpty(asset.creator.fullName)}">
                <td>
                    <div class="font-bold" th:text="#{user.data.fullName}"></div>
                    <div class="text-ellipsis overflow-hidden" th:text="${asset.creator.fullName}"></div>
                </td>
            </tr>
            <tr th:if="${!#strings.isEmpty(asset.creator.biography)}">
                <td>
                    <div class="font-bold" th:text="#{user.data.biography}"></div>
                    <div class="text-ellipsis overflow-hidden" th:text="${asset.creator.biography}"></div>
                </td>
            </tr>
            <tr th:if="${!#strings.isEmpty(asset.creator.website)}">
                <td>
                    <div class="font-bold" th:text="#{user.data.website}"></div>
                    <div class="text-ellipsis overflow-hidden">
                        <a th:href="${asset.creator.website}" target="_blank" th:text="${asset.creator.website}"></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</html>