<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* ======================================================================================================= */-->
    <!--/* Error management */-->

    <!--/* We have the "assetId" parameter but the asset was not found */-->
    <div th:if="${!#strings.isEmpty(assetId) && result == null}"
         th:insert="~{util/fragments/components/error_message :: error_message(#{proof.view.error.assetNotFound(${assetId})})}">
    </div>

    <!--/* There is results but not for the page they asked for */-->
    <div th:if="${result != null && result.getTotalElements() > 0 && result.getContent().isEmpty()}"
         th:insert="~{util/fragments/components/error_message :: error_message(#{proof.view.error.invalidPage})}">
    </div>

    <!--/* ======================================================================================================= */-->
    <!--/* Display result */-->
    <div class="w-4/5 flex flex-col items-center justify-center"
         th:if="${result != null && result.getContent().size() != 0}">

        <!--*/ Proofs viewer */-->
        <div class="head">
            <!--*/ Header */-->
            <div class="tableHead">
                <h3 class="tableHeadDescription" th:text="#{proof.view.title(${assetId})}"></h3>
            </div>
            <!--/* Data */-->
            <div class="tableLines truncate" th:each="proof, iStat: ${result.content}">
                <div class="flex flex-col space-y-1 col-span-full mt-2 ml-2 mr-2 mb-2">
                    <sl-textarea disabled="true"
                                 rows="10"
                                 th:id="@{'proof-' + ${iStat.index}}"
                                 th:value="${proof.rawProof}">
                    </sl-textarea>
                    <sl-button outline
                               th:onClick="@{'copy(\'proof-' + ${iStat.index} + '\');'}"
                               th:text="#{proof.view.copyProof}"
                               variant="primary">
                    </sl-button>
                </div>
            </div>

        </div>


        <!--/* Pages numbers */-->
        <div class="my-6">
            <ul class="pagination" th:if="${result.getTotalElements() > 0}">
                <!--/* Page list (current one and the others) */-->
                <li th:each="pageNumber: ${#numbers.sequence(1, result.totalPages)}">

                    <a aria-current="page"
                       class="paginationSelectedPage"
                       href="#"
                       th:if="${page == pageNumber}"
                       th:text="${pageNumber}">3</a>

                    <a class="paginationNotSelectedPage"
                       th:href="@{'/assets/' + assetId + '/proofs?page=' + ${pageNumber}}"
                       th:if="${page != pageNumber}"
                       th:text="${pageNumber}"></a>

                </li>
            </ul>
        </div>

    </div>

</div>
<!-- =============================================================================================================== -->

</html>