<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div class="content" layout:fragment="content">

    <!--/* ======================================================================================================= */-->
    <!--/* Error management */-->

    <!--/* No value for the "assetId" parameter */-->
    <!--/* TODO This is not working */-->
    <div th:if="${#strings.isEmpty(assetId)}"
         class="errorPanel"
         role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{proof.view.error.noAssetId}"></p>
    </div>

    <!--/* We have the "assetId" parameter but the asset was not found */-->
    <div th:if="${!#strings.isEmpty(assetId) && result == null}"
         class="errorPanel"
         role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{proof.view.error.assetNotFound(${assetId})}"></p>
    </div>

    <!--/* No proof for the asset */-->
    <!--/* TODO This should never happen but we must still add a test for it */-->

    <!--/* ======================================================================================================= */-->
    <!--/* Display result */-->

    <!--*/ Asset viewer */-->
    <div class="head" th:if="${result.size != 0}">
        <!--*/ Header */-->
        <div class="tableHead">
            <h3 class="tableHeadDescription" th:text="#{proof.view.title(${assetId})}"></h3>
        </div>
        <!--/* Data */-->
        <div class="tableLines" th:each="proof: ${result.content}">
            <dl>
                <!--/* Genesis point  */-->
                <div class="tableLineWhite">
                    <dd class="tableLineValue"
                        th:text="${proof.rawProof}"></dd>
                </div>
            </dl>
        </div>
    </div>

</div>
<!-- =============================================================================================================== -->

</html>