<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/asset/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content" th:fragment="asset-states-fragment">

    <!--/* Where we are */-->
    <div class="text breadcrumbs">
        <ul>
            <li>&nbsp;</li>
            <li th:text="#{asset.view.tabs.states}"></li>
        </ul>
    </div>

</div>
<!--/* =========================================================================================================== */-->

</html>