<!doctype html>
<html lang="en"
      layout:decorate="~{fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div class="content" layout:fragment="content">

    <!--/* ======================================================================================================= */-->
    <!--/* Error management */-->

    <!--/* No value for the "assetId" parameter */-->
    <div th:if="${#strings.isEmpty(assetId)}"
         class="errorPanel"
         role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{asset.view.error.noAssetId}"></p>
    </div>

    <!--/* We have the "assetId" parameter but the asset was not found */-->
    <div th:if="${!#strings.isEmpty(assetId) && result == null}"
         class="errorPanel"
         role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{asset.view.error.assetNotFound(${assetId})}"></p>
    </div>

    <!--/* ======================================================================================================= */-->
    <!--/* Display result */-->

    <!--*/ Asset viewer */-->
    <div class="head" th:if="${result != null}">
        <!--*/ Header */-->
        <div class="tableHead">
            <h3 class="tableHeadDescription" th:text="${result.name}"></h3>
            <p class="tableHeadValue" th:text="${result.assetId}"></p>
        </div>
        <!--/* Data */-->
        <div class="tableLines">
            <dl>
                <!--/* Creator */-->
                <div class="tableLineGray">
                    <dt class="tableLineDescription" th:text="#{field.asset.creator.username}"></dt>
                    <dd class="tableLineValue" th:text="${result.creator.username}"></dd>
                </div>
                <div class="tableLineWhite">
                    <dt class="tableLineDescription">Application for</dt>
                    <dd class="tableLineValue">Backend developer</dd>
                </div>
                <div class="tableLineGray">
                    <dt class="tableLineDescription" th:text="#{field.asset.creator.username}"></dt>
                    <dd class="tableLineValue" th:text="${result.creator.username}"></dd>
                </div>
            </dl>
        </div>
    </div>

</div>
<!-- =============================================================================================================== -->

</html>