<!doctype html>
<html lang="en"
      layout:decorate="~{fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- =============================================================================================================== -->
<div class="flex flex-col h-screen items-center" layout:fragment="content">

    <!-- No value for the "assetId" parameter -->
    <div    th:if="${#strings.isEmpty(assetId)}"
            class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 min-w-[50%]"
            role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{asset.view.error.noAssetId}"></p>
    </div>

    <!-- We have the "assetId" parameter but the asset was not found -->
    <div    th:if="${!#strings.isEmpty(assetId) && result == null}"
            class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 min-w-[50%]"
            role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{asset.view.error.assetNotFound(${assetId})}"></p>
    </div>

    <!-- Result -->
    <div class="mt-11" th:if="${result != null}">

    </div>

</div>
<!-- =============================================================================================================== -->

</html>