<!--/* Asset header (what is the asset and available links) */-->
<section th:if="${asset} != null">

    <div class="navbar bg-neutral text-neutral-content">
        <div class="navbar-start">
            <!--/* This is the menu if we are on mobile */-->
            <div class="dropdown">
                <label class="btn btn-ghost lg:hidden" tabindex="0">
                    <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 6h16M4 12h8m-8 6h16" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"/>
                    </svg>
                </label>
                <ul class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a hx-target="#asset-tab"
                           th:href="@{'/asset/' + ${assetId} + '/genesis'}"
                           th:hx-get="@{'/asset/' + ${assetId} + '/genesis'}"
                           th:text="#{asset.view.tabs.genesis}"></a></li>

                    <li><a hx-push-url="true"
                           hx-target="#asset-tab"
                           th:href="@{'/asset/' + ${assetId} + '/readme'}"
                           th:hx-get="@{'/asset/' + ${assetId} + '/readme'}"
                           th:text="#{asset.view.tabs.readme}"></a></li>

                    <li><a hx-push-url="true"
                           hx-target="#asset-tab"
                           th:href="@{'/asset/' + ${assetId} + '/group'}"
                           th:hx-get="@{'/asset/' + ${assetId} + '/group'}"
                           th:text="#{asset.view.tabs.group}"></a></li>

                    <li><a hx-push-url="true"
                           hx-target="#asset-tab"
                           th:href="@{'/asset/' + ${assetId} + '/states'}"
                           th:hx-get="@{'/asset/' + ${assetId} + '/states'}"
                           th:text="#{asset.view.tabs.states}"></a></li>

                    <li><a hx-push-url="true"
                           hx-target="#asset-tab"
                           th:href="@{'/asset/' + ${assetId} + '/owner'}"
                           th:hx-get="@{'/asset/' + ${assetId} + '/owner'}"
                           th:text="#{asset.view.tabs.owner}"></a></li>

                    <li><a hx-push-url="true"
                           hx-target="#asset-tab"
                           th:href="@{'/asset/' + ${assetId} + '/proofs'}"
                           th:hx-get="@{'/asset/' + ${assetId} + '/proofs'}"
                           th:text="#{asset.view.tabs.proofs}"></a></li>
                </ul>
            </div>
            <!--/* Asset display */-->
            <div>
                <div class="text-2xl font-bold" th:text="${asset.name}"></div>
                <div class="text-xs hidden lg:block" th:text="${asset.assetId}"></div>
            </div>
        </div>
        <!--/* This is the menu */-->
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a hx-push-url="true"
                       hx-target="#asset-tab"
                       th:href="@{'/asset/' + ${assetId} + '/genesis'}"
                       th:hx-get="@{'/asset/' + ${assetId} + '/genesis'}"
                       th:text="#{asset.view.tabs.genesis}"></a></li>

                <li><a hx-push-url="true"
                       hx-target="#asset-tab"
                       th:href="@{'/asset/' + ${assetId} + '/readme'}"
                       th:hx-get="@{'/asset/' + ${assetId} + '/readme'}"
                       th:text="#{asset.view.tabs.readme}"></a></li>

                <li><a hx-push-url="true"
                       hx-target="#asset-tab"
                       th:href="@{'/asset/' + ${assetId} + '/group'}"
                       th:hx-get="@{'/asset/' + ${assetId} + '/group'}"
                       th:text="#{asset.view.tabs.group}"></a></li>

                <li><a hx-push-url="true"
                       hx-target="#asset-tab"
                       th:href="@{'/asset/' + ${assetId} + '/states'}"
                       th:hx-get="@{'/asset/' + ${assetId} + '/states'}"
                       th:text="#{asset.view.tabs.states}"></a></li>

                <li><a hx-push-url="true"
                       hx-target="#asset-tab"
                       th:href="@{'/asset/' + ${assetId} + '/owner'}"
                       th:hx-get="@{'/asset/' + ${assetId} + '/owner'}"
                       th:text="#{asset.view.tabs.owner}"></a></li>

                <li><a hx-push-url="true"
                       hx-target="#asset-tab"
                       th:href="@{'/asset/' + ${assetId} + '/proofs'}"
                       th:hx-get="@{'/asset/' + ${assetId} + '/proofs'}"
                       th:text="#{asset.view.tabs.proofs}"></a></li>
            </ul>
        </div>
        <!--/* Share button */-->
        <div class="navbar-end" th:x-data="|{ assetUrl: '${assetUrl}' }|">
            <div x-data="{
                            copyNotification: false,
                            copyToClipboard() {
                                navigator.clipboard.writeText(this.assetUrl);
                                this.copyNotification = true;
                                let that = this;
                                setTimeout(function(){
                                    that.copyNotification = false;
                                }, 3000);
                            }
                        }"
                 class="relative z-20 flex items-center">
                <button @click="copyToClipboard();"
                        class="btn btn-neutral">
                    <svg x-show="!copyNotification" class="flex-shrink-0 w-5 h-5 mb-1 stroke-current w-6 h-6"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"/>
                    </svg>
                    <svg x-show="copyNotification" class="flex-shrink-0 w-5 h-5 mb-1 text-green-500 stroke-current"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" x-cloak>
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</section>