<header class="navbar">

    <!--/* ======================================================================================================= */-->
    <!--/* Left side (Use flex-1 to allow a flex item to grow and shrink as needed, ignoring its initial size) */-->
    <div class="flex-1">
        <a th:href="@{/}">
            <img alt="Royllo Logo"
                 height="52"
                 th:src="@{/images/logo/royllo_logo_horizontal_with_title.png}"
                 width="171"/>
        </a>
    </div>
    <!--/* ======================================================================================================= */-->

</header>