<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default_layout}" lang="en">

<!-- =============================================================================================================== -->
<section layout:fragment="content">
    <h1>Content</h1>
Voici un texte avec i18n : <p th:text="#{home.welcome}"/>
</section>
<!-- =============================================================================================================== -->
