<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* Logo */-->
    <a th:href="@{/}">
        <img alt="Royllo Logo"
             th:src="@{/images/logo/royllo_logo_homepage.png}"/>
    </a>

    <!--/* Search form */-->
    <div th:insert="util/fragments/components/search_asset_form"></div>

    <!--/* Homepage message */-->
    <div class="mt-11 text-sm" th:utext="#{home.message}"></div>

</div>
<!--/* =========================================================================================================== */-->

</html>