<!doctype html>
<html lang="en"
      layout:decorate="~{fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div class="content" layout:fragment="content">

    <!--/* ======================================================================================================= */-->
    <!--/* Search form */-->
    <div th:insert="fragments/components/search_asset_form"></div>

    <!--/* ======================================================================================================= */-->
    <!--/* Error management */-->

    <!--/* No value for the "query" parameter */-->
    <div    th:if="${#strings.isEmpty(query)}"
            class="errorPanel"
            role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{search.error.noQuery}"></p>
    </div>

    <!--/* No result */-->
    <div    th:if="${result != null && result.getTotalElements() == 0}"
            class="errorPanel"
            role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{search.noResult(${query})}"></p>
    </div>

    <!--/* There is results but not for the page they asked for */-->
    <div    th:if="${result != null && result.getTotalElements() > 0 && result.getContent().isEmpty()}"
            class="errorPanel"
            role="alert">
        <p class="font-bold" th:text="#{generic.error}"></p>
        <p th:text="#{search.error.invalidPage}"></p>
    </div>

    <!--/* ======================================================================================================= */-->
    <!--/* Display results */-->

    <!--/* If result is not null */-->
    <div class="w-4/5" th:if="${result != null}">

        <!--/* Display every result, line by line */-->
        <div th:each="asset: ${result.content}">
            <div class="my-6">
                <a th:href="@{'/asset/' + ${asset.assetId}}"
                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                   th:text="${asset.name}"></a>
                <p class="text-gray-700 text-base mb-2 truncate md:text-clip">
                <p class="truncate" th:text="@{#{field.asset.assetId} + ': ' + ${asset.assetId}}"></p>
                <p class="truncate" th:text="@{#{field.asset.creator.username} + ': ' + ${asset.creator.username}}"></p>
                <p class="truncate" th:text="@{#{field.asset.genesisPoint} + ': ' + ${asset.genesisPoint}}"></p>
            </div>
        </div>

        <!--/* Pages numbers */-->
        <div class=" mb-12" th:if="${result != null}">
            <ul class="inline-flex items-center -space-x-px mb-12" th:if="${result.getTotalElements() > 0}">
                <!--/* Page list (current one and the others) */-->
                <li th:each="pageNumber: ${#numbers.sequence(1, result.totalPages)}">

                    <a href="#"
                       th:if="${page == pageNumber}"
                       th:text="${pageNumber}"
                       aria-current="page"
                       class="px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>

                    <a th:href="@{'/search?query=' + ${query} + '&page=' + ${pageNumber}}"
                       th:if="${page != pageNumber}"
                       th:text="${pageNumber}"
                       class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>

                </li>
            </ul>
        </div>

    </div>

</div>
<!-- =============================================================================================================== -->

</html>