<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content">

    <!--/* ======================================================================================================= */-->
    <!--/* Search form */-->
    <div th:insert="~{util/fragments/components/search_asset_form :: form}"></div>

    <!--/* ======================================================================================================= */-->
    <!--/* Error management */-->
    <div class="w-1/3 pt-12">

        <!--/* No value for the "query" parameter */-->
        <sl-alert open th:if="${#strings.isEmpty(query)}" variant="danger">
            <sl-icon name="exclamation-octagon" slot="icon"></sl-icon>
            <strong th:text="#{generic.error}"></strong><br/>
            <div th:text="#{search.error.noQuery}"></div>
        </sl-alert>

        <!--/* No result */-->
        <sl-alert open th:if="${result != null && result.getTotalElements() == 0}" variant="danger">
            <sl-icon name="exclamation-octagon" slot="icon"></sl-icon>
            <strong th:text="#{generic.error}"></strong><br/>
            <div th:text="#{search.noResult(${query})}"></div>
        </sl-alert>

        <!--/* There is results but not for the page they asked for */-->
        <sl-alert open th:if="${result != null && result.getTotalElements() > 0 && result.getContent().isEmpty()}"
                  variant="danger">
            <sl-icon name="exclamation-octagon" slot="icon"></sl-icon>
            <strong th:text="#{generic.error}"></strong><br/>
            <div th:text="#{search.error.invalidPage}"></div>
        </sl-alert>

    </div>

    <!--/* ======================================================================================================= */-->
    <!--/* Results */-->

    <!--/* If result is present */-->
    <div class="w-4/5 flex flex-col" th:if="${result != null && !result.getContent().isEmpty()}">

        <!--/* Display every result, line by line */-->
        <sl-card class="card-header py-2" th:each="asset: ${result.content}">
            <!--/* Header */-->
            <div slot="header">
                <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                   th:href="@{'/asset/' + ${asset.assetId}}"
                   th:text="${asset.name}"></a>
            </div>

            <!--/* Asset description */-->
            <p class="truncate" th:text="@{#{field.asset.assetId} + ': ' + ${asset.assetId}}"></p>
            <p class="truncate" th:text="@{#{field.asset.genesisPoint} + ': ' + ${asset.genesisPoint}}"></p>
            <p class="truncate" th:text="@{#{field.asset.creator.username} + ': ' + ${asset.creator.username}}"></p>

            <!--/* Footer */-->
            <div slot="footer">
                <!--/* View asset */-->
                <sl-button outline
                           th:href="@{'/asset/' + ${asset.assetId}}"
                           th:text="#{search.button.asset.view}"
                           variant="primary">
                </sl-button>
                <!--/* View proofs */-->
                <sl-button outline
                           th:href="@{'/asset/' + ${asset.assetId} + '/proofs'}"
                           th:text="#{search.button.asset.proofs.view}"
                           variant="secondary">
                </sl-button>
            </div>
        </sl-card>

        <!--/* Pages numbers */-->
        <div class="my-6">
            <ul class="pagination" th:if="${result.getTotalElements() > 0}">
                <!--/* Page list (current one and the others) */-->
                <li th:each="pageNumber: ${#numbers.sequence(1, result.totalPages)}">

                    <a aria-current="page"
                       class="paginationSelectedPage"
                       href="#"
                       th:if="${page == pageNumber}"
                       th:text="${pageNumber}">3</a>

                    <a class="paginationNotSelectedPage"
                       th:href="@{'/search?query=' + ${query} + '&page=' + ${pageNumber}}"
                       th:if="${page != pageNumber}"
                       th:text="${pageNumber}"></a>

                </li>
            </ul>
        </div>

    </div>

</div>

</html>