<!doctype html>
<html lang="en"
      layout:decorate="~{util/fragments/layouts/default/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* =========================================================================================================== */-->
<div layout:fragment="content" th:fragment="search-results">

    <div class="mx-auto w-5/6">

        <!--/* =================================================================================================== */-->
        <!--/* Search form */-->
        <div th:insert="~{util/fragments/components/search_asset_form :: form}"></div>

        <!--/* =================================================================================================== */-->
        <!--/* Error management */-->

        <!--/* No value for the "query" parameter */-->
        <div th:if="${#strings.isEmpty(query)}"
             th:insert="~{util/fragments/components/error_message :: error_message(#{search.error.noQuery})}">
        </div>

        <!--/* No result */-->
        <div th:if="${result != null && result.getTotalElements() == 0}"
             th:insert="~{util/fragments/components/error_message :: error_message(#{search.error.noResult(${query})})}">
        </div>

        <!--/* There is results but not for the page they asked for */-->
        <div th:if="${result != null && result.getTotalElements() > 0 && result.getContent().isEmpty()}"
             th:insert="~{util/fragments/components/error_message :: error_message(#{search.error.invalidPage})}">
        </div>


        <!--/* =================================================================================================== */-->
        <!--/* Results */-->
        <div th:if="${result != null && !result.getContent().isEmpty()}">

            <!--/* If there are results */-->
            <ul class="divide-y divide-gray-100" role="list">

                <!--/* =========================================================================================== */-->
                <!--/* For each asset in the result */-->
                <li class="relative flex justify-between gap-x-6 py-5" th:each="asset: ${result.content}">

                    <div class="flex gap-x-4 w-4/5">
                        <!--/* Icon */-->
                        <img class="h-12 w-12 flex-none bg-gray-50"
                             th:alt="${asset.name}"
                             th:if="${#strings.equalsIgnoreCase(asset.type, 'NORMAL')}"
                             th:src="@{/svg/type_normal_asset.svg}"/>

                        <img class="h-12 w-12 flex-none bg-gray-50"
                             th:alt="${asset.name}"
                             th:if="${#strings.equalsIgnoreCase(asset.type, 'COLLECTIBLE')}"
                             th:src="@{/svg/type_collectible_asset.svg}"/>

                        <!--/* Description */-->
                        <div class="min-w-0 flex-auto">
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                                <a th:href="@{'/asset/' + ${asset.assetId}}">
                                    <!--/* TODO make an HTMX call */-->
                                    <!--/* https://stackoverflow.com/questions/77514855/getting-a-fragment-of-a-layout-after-the-page-has-been-generated */-->
                                    <!--/* hx-push-url="true" */-->
                                    <!--/* hx-target="#content" */-->
                                    <!--/* th:hx-get="@{'/asset/' + ${asset.assetId}}" */-->
                                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                                    <span th:text="${asset.name}"></span>
                                </a>
                            </p>
                            <p class="text-xs text-gray-500 ">
                             <span class="relative truncate block"
                                   th:text="@{#{asset.data.assetId} + ': ' + ${asset.assetId}}">

                             </span>
                                <span class="relative truncate block"
                                      th:if="${asset.assetGroup != null}"
                                      th:text="@{#{asset.data.tweakedGroupKey} + ': ' + ${asset.assetGroup.tweakedGroupKey}}">
                             </span>
                                <span class="relative truncate block"
                                      th:if="${#strings.equalsIgnoreCase(asset.type, 'NORMAL')}"
                                      th:text="@{#{asset.data.amount} + ': ' + ${asset.amount}}">
                             </span>
                                <span class="relative truncate block"
                                      th:text="@{#{asset.data.creator} + ': ' + ${asset.creator.username}}">

                             </span>
                            </p>
                        </div>
                    </div>

                </li>
                <!--/* =========================================================================================== */-->

            </ul>

            <!--/* Pages numbers */-->
            <div class="join" th:if="${result.getTotalPages() > 1}">
                <div th:each="pageNumber: ${#numbers.sequence(1, result.totalPages)}">

                    <!--/* Current page */-->
                    <button class="join-item btn"
                            th:if="${page == pageNumber}"
                            th:text="${pageNumber}">
                    </button>

                    <!--/* Other pages */-->
                    <a class="join-item btn btn-active"
                       hx-push-url="true"
                       hx-target="#content"
                       th:href="@{'/search?query=' + ${query} + '&page=' + ${pageNumber}}"
                       th:hx-get="@{'/search?query=' + ${query} + '&page=' + ${pageNumber}}"
                       th:if="${page != pageNumber}"
                       th:text="${pageNumber}">
                    </a>

                </div>
            </div>
            <!--/* TODO Replace this with something more clean */-->
            <div class="my-16">&nbsp</div>

        </div>
    </div>
</div>

</html>